@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

html {
  overflow-y: overlay;
}

.input {
  @apply w-full rounded  bg-input-bg px-3 py-1 outline-none border border-input-border;
}

.checkbox {
  @apply accent-secondary text-white cursor-pointer;
}

.menu-icon {
  @apply h-8 w-8 cursor-pointer lg:hidden block transition-all ease-in-out transform duration-300;
}
